Backend/db.sqlite3
Backend/media/
Frontend/node_modules/
.vscode/
Backend/.vscode
Backend/Photobook/__pycache__
node_modules
/Frontend/build
Backend/compose_infinity/__pycache__/*
Backend/Photobook/migrations/*