.App {
    text-align: center;
    .image-tools {
        // padding-right: 15px;
        .icon {
            float: right;
            margin-left: 10px;
        }
    }
    .image-container {
        background-color: #e3dfd3;
        height: 500px;
        width: 100%;
        margin: 30px auto;
        position: relative;
        overflow: hidden;
        .image-preview {
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -218px;
            margin-left: -218px;
            object-fit: contain;
        }
    }
    .btn-grey {
        background-color: #e3dfd3;
        color: #000000;
        border-radius: 0;
        border: 0;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 30px;
        cursor: pointer;
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}